/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET CSS */

/* OTRO RESET  html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*/

/* VARS */
    $Color1: rgb(10,10,10);
    $Color1: rgb(245, 245, 245);
    $Color1: rgb(24, 24, 24);
    $Color1: rgb(10,10,10);
    $Color1: rgb(10,10,10);

/* GENERAL */
body {
    font: {
        family: 'Albert Sans';
        weight: 400;
    };
	background-color: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
	margin: 0px;
	display: flex;
  	flex-direction: column;
    a{
        color: black;
        text-decoration: none;
    }
}

header{
    display: flex;
    position: relative;
    padding: 13px 0px 10px 13px;
    justify-content: space-between;
    background-color: rgb(24, 24, 24);
    .Icono{
        width: 23%;
        display: inline;
        img{
            width: 100%;
            height: auto;
        }
    }
    nav{
        display: flex;
        align-items: center; /* ALINEA EN EL EJE Y MIENTRAS EL JUSTIFY EN EL X SI EL FLEX ESTA EN ROW */
        padding-right: 0px;
        ul{
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin: 0;
            li{
                padding: 15px;
                a{
                    display: block;
                    color: rgb(245, 245, 245);
                    text-align: center;
                    font-weight: 500;
                    font-size: xx-large;
                    &:hover{
                        color: transparent;
                    	animation: fadeIn .2s ease;
	                    background-image: url(../img/img40.jpg);
	                    background-size: 260%;
	                    background-position: 50% 65%;
	                    -webkit-background-clip: text;
                    }
                }
            }
        }
    }
/* header mobile */
    .Icono_mobile a img{
	    width: 45px;
	    height: auto;
        display: none;
	    padding-left: 10px;
    }
    .Checkbox_hamb {
        display: none;
    }
    .Menu_mobile{
        label i{
            font-size: 42px;
            padding-right: 25px;
            display: none;
            color: rgb(245, 245, 245);
        }
        .Menu_hamb_merch i{
            color: rgb(14, 14, 14);
        }
    }
    .Nav_mobile {
        position: absolute;
        margin-top: 1%;
        right: 2%;
        width: 270px;
        height: auto;
        background-color:rgb(14, 14, 14);
        z-index: 9999999;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transition: all .50s;
        clip-path: circle(0 at center);
        ul{
            padding: 0; 
        	margin: 0; 
            a{
                display: block;
                color: rgb(245, 245, 245);
                text-align: center;
                font-weight: 500;
                font-size: large;
                margin: 12px 0;
                padding: 0px 25px;
                transition: all .50s;
            }
        }
    }
    .Checkbox_hamb:checked + .Nav_mobile {
        clip-path: circle(100% at center);
    }
}

/* PAGINA PRINCIPAL PAGINA PRINCIPAL PAGINA PRINCIPAL PAGINA PRINCIPAL PAGINA PRINCIPAL*/

main{
    #Banner{
        width: 100%;
	    overflow: auto;
	    box-shadow: 0.1em 0.1em 2em rgba(0, 255, 255, 0.397);
	    border-bottom: inset;
	    margin-bottom: 20px;  
    }
}

.Seccion{
    h2{
        padding-left:30px;
	    font-size: 30px;
    }
    #Lanzamientos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .Lanzamiento{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3,h4{
                margin: 10px 0px;
            }
            img{
                width: 268px;
                padding: 10px 0px;
            }
        }
    }
}
    #Merch{
        h2{
            padding-top: 25px;
            margin-top: 40px;
            border-top: outset;
            box-shadow: 0px -17px 32px -14px rgba(0,255,255,0.397);
        }
        #Articulos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .Elemento_merch{
                background-color: white;
                margin: 10px 0;
                box-shadow: inset 0 0 0 2px rgba(238, 106, 238, 0.11), 0.1em 0.1em 2em rgba(0, 255, 255, 0.397);
                border-style: solid;
                border-color: white;
                border-radius: 10px 10px 10px 10px;
                a img{
                    width: 268px;
                    background-color: white;
                }
            }
        }
        #Merch_boton{
            display: flex;
            justify-content: center;
            a{
                background-color: rgb(245, 245, 245);
                font-weight: 700;
                font-size: 30px;
                border-style: solid;
                border-color: rgb(245, 245, 245);
                border-radius: 10px;
                margin: 30px 0px;
                &:hover{
                    transition: all .50s;
                    animation: fadeIn .2s ease;
                    background-color:rgb(199, 199, 199);
                    border-color: rgb(199, 199, 199);
                    
                }
            }
        }
    }
    #Spotify_sec{
        border-top: outset;
        margin-top: 40px;
        div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            iframe{
                width: 95%;
                height: 352px;
                padding: 10px 0px;
            }
        }
    }

/* FOOTER */
footer{
    background-color: rgb(14, 14, 14);
	margin-top: 50px;
	bottom: 0px;
    p{
        text-align: center;
        font-weight: 300;
        margin: 0;
        padding: 15px 0px;
    }
    #Loguito_box{
        text-align: center;
        display: block;
        #Loguito{
            width: 50px;
        }
    }
    #Redes{
        text-align: center;
        a img{
            width: 25px;
            padding: 5px 10px 0px 10px;
        }
    }
}

/* TENDENCIAS TENDENCIAS TENDENCIAS TENDENCIAS*/

#Header_tendencias{
    background-color: transparent;
    .Header_menu{
        padding-left: 60%;
        #Mas_beats{
            font-size: 32px;
	        font-weight: 600;
	        color: rgb(245, 245, 245);
            &:hover{
                color: transparent;
                animation: fadeIn .2s ease;
                background-image: url(../img/img40.jpg);
                background-size: 260%;
                background-position: 45% 65%;
                -webkit-background-clip: text;
            }
        }
    }
}

.Icono#Fade{
    position: relative;
    a img{
    position: relative;
      transition: opacity 0.2s ease;
    }
    a img.top{
        position: absolute;
        width: 100%;
        left: 0;
        &:hover{
            opacity: 0;
        }
    }
}

.Main_destacado{
    h1{
        padding-left: 1.5%;
    }
    h2{
        padding-left: 3%;
    }
    #Mix_tendencia{
        display: block;
        text-align: center;
        padding-top: 8%;
        padding-bottom: 24%;
    }
}

#Background_video{
	display: block;
	text-align: center;
    video{
        left: 0;
        top: 0;
        width: 100%;
        position: absolute;
        z-index: -9;
    }
}

/* INDEX INDEX INDEX INDEX */

#Main_index{
	display: block;
	text-align: center;
	min-height: 100vh;
    #Index_logo{
        display: flex;
        justify-content: center;
        img{
            width: 200px;
            margin-top: 15%;
            margin-bottom: 5px;
        }
        #Index_gradient{
            position: absolute;
            width: 200px;
            z-index: -1;
            top: -5px;
        }
        #Index_black{
            position: absolute;
            top: 8px;
            width: 200px;
            z-index: -2;
        }
    }  
    a{
        color: rgba(245, 245, 245, 0.001);
        font-weight: 600;
        font-size: 30px;
        border-style: groove;
        border-radius: 10px;
        border-color: rgb(14, 14, 14);
        background-image: url(../img/img40.jpg);
        background-size: 260%;
        background-position: 45% 65%;
        -webkit-background-clip: text;
    }
    #Link_fondohover:hover{
        color:rgb(224, 224, 224);
        animation: fadeOut .2s ease;
        background-image: url(../img/img40.jpg);
        background-size: 260%;
        background-position: 45% 65%;
        -webkit-background-clip: text;
        border-color: rgb(199, 199, 199);
    }
}

/* BEATS BEATS BEATS */

.Type_beat_list{
    .Type_beat_list_item{
        display: inline-block;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 25px;
        padding-bottom: 40px;
        border-left: outset;
        border-radius: 100px;
        border-width: 1px;
        img{
            width: 200px;
        }
    }
    h2{
        padding-top: 20px;
	    font-size: 40px;
    }
    .Type_beat_content{
        display: inline-block;
        padding-left: 20px;
        h3{
            font-size: 35px;
        }
        h4{
            font-size: 20px;
        }
        audio{
            margin-bottom: 20px;
	        font-size: 20px;
        }
    }
}

/* MERCH MERCH MERCH MERCH */

#Header_merch{
	background-color: rgb(244, 244, 244);
    a{
        color: rgb(24, 24, 24);
        &:hover{
            color: transparent;
            animation: fadeMerch .2s ease;
            background-image: url(../img/img40.jpg);
            background-size: 260%;
            background-position: 45% 65%;
            -webkit-background-clip: text;
        }
    }
    .Nav_mobile ul a{
        color: rgb(245, 245, 245);
    }
    label{
        img{
            background-color: #26292f;
        }
    }
}

#Main_merch{
    
    #Grid_container{
        margin: 0 2.4%;
    }

    img{
        width: 100%;
        z-index: -1;
    }

    .White_text{
        color: rgb(224, 224, 224);
    }

    .Products_grid{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        flex-direction: row;
		justify-content: center;
        .Grid_item{
            max-width: 25%;
            padding-bottom: 3rem;
            transition:0.3s;
            &:hover{
                z-index: 2;
                transform: scale(1.2);
                .Product_title{
                    color: transparent;
                }
                .Price_txt{
                    color: transparent;
                }
                .text_hovered{
                    display: inline;
                    z-index: 3;
                    color: black;
                }
                .Add_Carrito{
                    color: black;
                }
                .Price_hovered{
                    color: black;
                }
                .White_text_h{
                    color: rgb(224, 224, 224);
                }
            }
        }
    }
    .Product_title{
        color: rgb(245, 245, 245);
        padding-left: 5px;
        transition:0.3s;
    }

    .text_hovered{
        color: transparent;
        position: absolute;
        transition:0.3s;
        width: 25rem;
        .Product_title_hovered{
            padding-left: 5%;
        }
        
    }
    .Price_hovered{
        color: transparent;
        transition:0.3s;
        position: absolute;
        bottom: 15%;
    }

    .Price_txt{
        transition:0.1s;
    }

    .Add_Carrito{
        transition:0.3s;
        position: absolute;
        right: 5%;
        bottom: 15%;
        color: transparent;
    }

   
	p{
        position: absolute;
        color: rgb(24, 24, 24);
        padding-top: 0;
        padding-left: 20px;
        font-size: 20px;
        font-weight: 400;
    }
    
    .ButtonProd{
        display: none;
    }
    #ButtonCarrito{
        display: none;
    }

    #Side_notification{
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 1.5rem;
        bottom: 1.5rem;
        z-index: 99;
        .New_notification{
            display: flex;
            flex-direction: column;
            align-items: baseline;
            color: rgb(24, 24, 24);
            justify-content: space-around;
            min-width: 20.5rem;
            max-height: 142.17px;
            min-height: 8rem;
            padding: 0 1.5rem;
            margin-bottom: 1rem;
            border-radius: 1rem;
            background-color: rgb(224, 224, 224);
            transition: all 1s ease-in-out;
            box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.74);
            -webkit-box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.74);
            -moz-box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.74);
            h3{
                display: inline-block;
                margin: 0;
                font-size: larger;
                font-weight: 600;
                margin-bottom: 0.4rem;
                text-decoration: underline;
            }
            p{
                font-size: medium;
                display: block;
                margin: 0;
                padding: 0;
            }
        }
    }

    .Hide_notification{
        transition: 1s;
        opacity: 0;
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }


    #Carrito_lateral {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 30%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: 0 0 20px rgba(0,0,0,.2);
        z-index: 999999;
        background: #fff;
        transition: right .3s;
        margin-top: 40px;
        h2{
            color: rgb(24, 24, 24);
            margin-left: 1rem;
        }
        .Productos_carrito_lateral{
            li{
            color: black;
            position: relative;
            padding: 1em;
            border-top: 1px solid #e0e6ef
            }
            li:last-child {
            border-bottom: 1px solid #e0e6ef
            }
        }
        .Producto_precio{
            color: #a5aebc;
        }
        .Producto_remover {
            position: absolute;
            right: 1em;
            top: 50%;
            bottom: auto;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: url(../img/cd-remove-item.svg) no-repeat center center;
            &:hover{
                background-color: #e0e6ef85
            }
        }
        .Carrito_total{
            padding-bottom: 1em;
            
            p{
                position: relative;
                margin: 0;
            }
            span {
                float: right;
            }
        }
        .Boton_comprar{
            display: block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background: #7dcf85;
            color: #fff;
            text-align: center;
            &:hover{
                background: #a2dda8;
            }
        }
        .Ir_pag_carrito{
            position: relative;
            text-align: center;
            margin: 1em 0;
            a{
                text-decoration: underline;
            }
        }
    }

    #Carrito_lateral.speed-in {
        right: 0;
    }

    #Shadow_layer {
        position: fixed;
        min-height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        z-index: 2;
        display: none;
    }

    #Shadow_layer.is-visible {
        display: inline;
        -webkit-animation: fade-in .3s;
        -moz-animation: fade-in .3s;
        animation: fade-in .3s;
    }
}
/* PRODUCCION PRODUCCION PRODUCCION PRODUCCION */

#Main_produccion{
    h1{
        padding-top: 10px;
        padding-left: 5px;
        font-size: 40px;        
    }
    h2{
        display: block;
        padding-left: 20px;
        font-size: 30px;
    }
    ul{
        display: block;
        font-size: 20px;
    }
    img#Fl{
        position: absolute;
        margin-left: 45%;
        top: 30%;
        width: 50%;
        border-style: inset;
    }
}

#Seccion_contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
    
    #Box_contacto{
        display: flex;
        justify-content: center;
        width: 70%;
        height: 100%;
        #Studio{
            width: 50%;
            height: 100%;
            border-radius: 10px 0px 0px 10px;
            box-shadow: inset 0 0 0 2px transparent, 0.1em 0.1em 2em rgba(0, 255, 255, 0.397);
            border: 0;
        }
        #Div_mail{
            background-color: rgb(14, 14, 14);
            padding: 25px;
            font-size: 20px;
            border-radius: 0px 10px 10px 0px;
            box-shadow: inset 0 0 0 2px transparent, 0.1em 0.1em 2em rgba(0, 255, 255, 0.397);
            border: 0;

        }
    }
    
}


/* MEDIA QUIRES */

@media (max-width: 768px){/* esta consulta de medios se utiliza para dispositivos móviles con pantallas pequeñas, como teléfonos inteligentes en modo vertical. */
	/* Navbar */

    header{
        .Icono{
            display: none;
        }
        nav{
            display: none;
        }
    /* header mobile */
        .Icono_mobile a img{
            display: block;
        }
        .Menu_mobile{
            label i{
                display: block;
            }
        }
    }

    #Main_merch{
        h2{
            font-size: 120%;
        }
        p{
            font-size: 105%;
            padding-top: 8%;
            padding-left: 3%;
        }
    }

    #Seccion_contacto{
        #Box_contacto{
            align-items: center;
            #Studio{
                z-index: -4;
                width: 100%;
            }
            #Div_mail{
                position: absolute;
            }
        }
    }

    #Carrito_lateral {
        width:350px
    }

}

@media (min-width: 768px) and (max-width: 991px){/* Esta consulta de medios se utiliza para dispositivos móviles en modo horizontal y tabletas en orientación vertical. */
    header{
        .Icono{
            display: none;
        }
        nav{
            display: none;
        }
    /* header mobile */
        .Icono_mobile a img{
            display: block;
        }
        .Menu_mobile{
            label i{
                display: block;
                font-size: 50px;
            }
        }
    }

    #Seccion_contacto{
        #Box_contacto{
            align-items: center;
            #Studio{
                z-index: -4;
                width: 100%;
            }
            #Div_mail{
                position: absolute;
            }
        }
    }

}

@media (min-width: 992px) and (max-width: 1199px){/* Esta consulta de medios se utiliza para tabletas en orientación horizontal y pantallas de tamaño mediano. */
    #Carrito_lateral {
        width:30%;
    }
}

@media (min-width: 1200px){/*  Esta consulta de medios se utiliza para pantallas de escritorio y portátiles. */

}

/*ANIMACIONES ANIMACIONES*/

@keyframes fadeIn {
	0% { color: rgb(245, 245, 245); }
	100% { color: transparent; }
}

@keyframes fadeOut {
	0% { color: transparent; }
	100% { color: rgb(224, 224, 224); }
}

@keyframes fadeMerch {
	0% { color: rgb(24, 24, 24); }
	100% { color: transparent; }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}